
.shinning {
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 6s linear infinite;
    animation: shine 6s linear infinite;
    background: linear-gradient(90deg,#6042ec 10%,#1bee97 40%,#0057ff 60%,#d71ef9 90%);
    -webkit-background-clip: text;
    background-size: 200% auto;
}